<BA>
  <audio>
    <buffers>1</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t">
      // Basic test of the unit test functions
      BA_UT_is(true, true);
      BA_UT_is(true, true, "This is a message");

      BA_UT_ok(true)
      BA_UT_ok(true, "This is another message");

      try {
        BA_UT_is();
        BA_UT_ok(false, "BA_UT_is should throw if no args");
      } catch(e) {
        BA_UT_ok(true, "BA_UT_is should throw if no args");
      }

      try {
        BA_UT_is(false);
        BA_UT_ok(false, "BA_UT_is should throw with just 1 arg");
      } catch(e) {
        BA_UT_ok(true, "BA_UT_is should throw with just 1 arg");
      }

      quit()
    </key>
  </code>
</BA>

