<BA>
  <audio>
    <buffers>1</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t">
      recStart();

      var intervals = 10;
      var iId = setInterval(function() {
        BA_UT_is(recording, true, "We are recording - " + intervals);
        if (!--intervals) {
          clearInterval(iId);
          recStop(currentBuffer);

          currentBuffer.loop = true
          currentBuffer.play()

          intervals = 10
          iId = setInterval(function() {
            BA_UT_is(currentBuffer.playing, true, "We are playing - " + intervals);
            if (!--intervals) {
              quit();
            }
           }, 200);
        }
      }, 200);
    </key>
  </code>
</BA>

