<BA>
  <audio>
    <buffers>1</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t">
      function testRec() {
        recStart();

        var intervals = 10;
        var iId = setInterval(function() {
          BA_UT_is(recording, true, "We are recording - " + intervals);
          if (!--intervals) {
            clearInterval(iId);
            recStop(currentBuffer);

            currentBuffer.loop = true
            currentBuffer.play()
            BA_UT_is(currentBuffer.dataType, "rec", "Playing dataType == 'rec'");

            intervals = 10
            iId = setInterval(function() {
              BA_UT_is(currentBuffer.playing, true, "We are playing - " + intervals);
              if (!--intervals) {
                next();
              }
             }, 200);
          }
        }, 200);
      }

      function testNoRec() {
        recStart();

        var intervals = 10;
        var iId = setInterval(function() {
          BA_UT_is(recording, true, "We are recording - " + intervals);
          if (!--intervals) {
            clearInterval(iId);
            recStop();
            next();
          }
        }, 200);
      }

      var tests = [ testRec, testNoRec ];

      function next() {
        if (!tests.length) {
          quit();
        } else {
          var test = tests.pop();
          test();
        }
      }

      next();
    </key>
  </code>
</BA>

