<BA>
  <audio>
    <buffers>1</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t">
      function testFilename() {
        currentBuffer.play("beat.wav");

        var intervals = 3;
        var iId = setInterval(function() {
          BA_UT_is(currentBuffer.playing, true, "We are playing");
          if (!--intervals) {
            clearInterval(iId);
            next();
          }
        }, 200);
      }

      function testNoFilename() {
        currentBuffer.play("this file doent exist.wav");

        var intervals = 10;
        var iId = setInterval(function() {
          BA_UT_is(currentBuffer.playing, false, "We are not playing");
          if (!--intervals) {
            clearInterval(iId);
            next();
          }
        }, 200);
      }

      var tests = [ testFilename ]; //, testNoFilename ];

      function next() {
        if (!tests.length) {
          quit();
        } else {
          var test = tests.pop();
          test();
        }
      }

      next();
    </key>
  </code>
</BA>

