<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var filter = Bandpass(1, 2);
      BA_UT_ok(filter, "Bandpass() exists.");
      BA_UT_is(filter.name, "bandpass", "Bandpass().name == 'bandpass'");
      BA_UT_is(filter.cutOff, 1, "Bandpass().cutOff == 1");
      BA_UT_is(filter.resonance, 2, "Bandpass().resonance == 2");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(filter, "cutOff");
      testAttr(filter, "resonance");

      try {
        filter.update();
        BA_UT_ok(false, "Bandpass.update() with no arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Bandpass.update() with no arguments should throw");
      }

      try {
        filter.update("foo", "bar");
        BA_UT_ok(false, "Bandpass.update() with wrong arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Bandpass.update() with wrgon arguments should throw");
      }

      filter.update(8, 9);
      BA_UT_is(filter.cutOff, 8, "Bandpass().cutOff == 8");
      BA_UT_is(filter.resonance, 9, "Bandpass().resonance == 9");

      quit();
    ]]>
    </key>
  </code>
</BA>


