<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var filter = Chorus(1, 2, 3, 4);
      BA_UT_ok(filter, "Chorus() exists.");
      BA_UT_is(filter.name, "chorus", "Chorus().name == 'chorus'");
      BA_UT_is(filter.delay, 1, "Chorus().delay == 1");
      BA_UT_is(filter.feedback, 2, "Chorus().feedback == 2");
      BA_UT_is(filter.speed, 3, "Chorus().speed == 2");
      BA_UT_is(filter.depth, 4, "Chorus().depth == 4");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, "Chorus()." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, "Chorus." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, "Chorus." + name + " = foo should throw");
        }
      }

      testAttr(filter, 'delay');
      testAttr(filter, 'feedback');
      testAttr(filter, 'speed');
      testAttr(filter, 'depth');

      try {
        filter.update();
        BA_UT_ok(false, "Chorus.update() with no arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Chorus.update() with no arguments should throw");
      }

      try {
        filter.update("foo", "bar", "foo", "bar");
        BA_UT_ok(false, "Chorus.update() with wrong arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Chorus.update() with wrgon arguments should throw");
      }

      filter.update(11, 22, 33, 44);
      BA_UT_is(filter.delay, 11, "Chorus().delay == 11");
      BA_UT_is(filter.feedback, 22, "Chorus().feedback == 22");
      BA_UT_is(filter.speed, 33, "Chorus().speed == 33");
      BA_UT_is(filter.depth, 44, "Chorus().depth == 44");

      quit();
    ]]>
    </key>
  </code>
</BA>
