<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var filter = AtanDistortion(1);
      BA_UT_ok(filter, "AtanDistortion() exists.");
      BA_UT_is(filter.name, "atandistortion", "AtanDistortion().name == 'delayline'");
      BA_UT_is(filter.shape, 1, "AtanDistortion().shape == 1");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(filter, 'shape');

      try {
        filter.update();
        BA_UT_ok(false, "AtanDistortion.update() with no arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "AtanDistortion.update() with no arguments should throw");
      }

      try {
        filter.update("foo");
        BA_UT_ok(false, "AtanDistortion.update() with wrong arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "AtanDistortion.update() with wrgon arguments should throw");
      }

      filter.update(11);
      BA_UT_is(filter.shape, 11, "AtanDistortion().shape == 11");

      quit();
    ]]>
    </key>
  </code>
</BA>
