<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var filter = Gate(1);
      BA_UT_ok(filter, "Gate() exists.");
      BA_UT_is(filter.name, "gate", "Gate().name == 'gate'");
      BA_UT_is(filter.threshold, 1, "Gate().threshold == 1");
      BA_UT_is(filter.holdtime, 1, "Gate().holdtime == 1");
      BA_UT_is(filter.attach, 1, "Gate().attach == 1");
      BA_UT_is(filter.release, 0.9995, "Gate().release == 0.9995");

      filter = Gate(1, 2, 3, 4);
      BA_UT_ok(filter, "Gate() exists.");
      BA_UT_is(filter.name, "gate", "Gate().name == 'gate'");
      BA_UT_is(filter.threshold, 1, "Gate().threshold == 1");
      BA_UT_is(filter.holdtime, 2, "Gate().holdtime == 2");
      BA_UT_is(filter.attach, 3, "Gate().attach == 2");
      BA_UT_is(filter.release, 4, "Gate().release == 4");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(filter, 'threshold');
      testAttr(filter, 'holdtime');
      testAttr(filter, 'attach');
      testAttr(filter, 'release');

      try {
        filter.update();
        BA_UT_ok(false, "Gate.update() with no arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Gate.update() with no arguments should throw");
      }

      try {
        filter.update("foo");
        BA_UT_ok(false, "Gate.update() with wrong arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Gate.update() with wrgon arguments should throw");
      }

      filter.update(11);
      BA_UT_is(filter.threshold, 11, "Gate().threshold == 11");
      BA_UT_is(filter.holdtime, 1, "Gate().holdtime == 1");
      BA_UT_is(filter.attach, 1, "Gate().attach == 1");
      BA_UT_is(filter.release, 0.9995, "Gate().release == 0.9995");

      filter.update(11, 22, 33, 44);
      BA_UT_is(filter.threshold, 11, "Gate().threshold == 11");
      BA_UT_is(filter.holdtime, 22, "Gate().holdtime == 22");
      BA_UT_is(filter.attach, 33, "Gate().attach == 33");
      BA_UT_is(filter.release, 44, "Gate().release == 44");

      quit();
    ]]>
    </key>
  </code>
</BA>
