<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var filter = Lores(1, 2);
      BA_UT_ok(filter, "Lores() exists.");
      BA_UT_is(filter.name, "lores", "Lores().name == 'lores'");
      BA_UT_is(filter.cutOff, 1, "Lores().cutOff == 1");
      BA_UT_is(filter.resonance, 2, "Lores().resonance == 2");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, "Lores()." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, "Lores." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, "Lores." + name + " = foo should throw");
        }
      }

      testAttr(filter, 'cutOff');
      testAttr(filter, 'resonance');

      try {
        filter.update();
        BA_UT_ok(false, "Lores.update() with no arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Lores.update() with no arguments should throw");
      }

      try {
        filter.update("foo", "bar");
        BA_UT_ok(false, "Lores.update() with wrong arguments should throw");
      } catch(e) {
        BA_UT_ok(true, "Lores.update() with wrgon arguments should throw");
      }

      filter.update(11, 22);
      BA_UT_is(filter.cutOff, 11, "Lores().cutOff == 11");

      filter.update(11, 22);
      BA_UT_is(filter.cutOff, 11, "Lores().cutOff == 11");
      BA_UT_is(filter.resonance, 22, "Lores().resonance == 22");

      quit();
    ]]>
    </key>
  </code>
</BA>
