<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var coswave = Coswave(600);
      BA_UT_ok(coswave, "Coswave() generator exists.");
      BA_UT_is(coswave.name, "coswave", "Coswave().name generator exists.");
      BA_UT_is(coswave.frequency, 600, "Coswave().frequency == 600");
      BA_UT_ok('get' in coswave, "Coswave().get exists");

      var coswave2 = Coswave(Coswave(Noise()));
      BA_UT_ok(coswave2, "Coswave() generator exists.");
      currentBuffer.play(coswave);

      var intervals = 4;
      var iId = setInterval(function() {
        BA_UT_is(currentBuffer.dataType, coswave, "We are playing coswave - " + intervals);
        if (!--intervals) {
          clearInterval(iId);
          quit();
          next();
        }
      }, 200);
    ]]>
    </key>
  </code>
</BA>


