<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var triangle = Triangle(600);
      BA_UT_ok(triangle, "Triangle() generator exists.");
      BA_UT_is(triangle.name, "triangle", "Triangle().name generator exists.");
      BA_UT_is(triangle.frequency, 600, "Triangle().frequency == 600");
      BA_UT_ok('get' in triangle, "Triangle().get exists");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(triangle, 'frequency');

      var triangle2 = Triangle(Triangle(Noise()));
      BA_UT_ok(triangle2, "Triangle() generator exists.");

      currentBuffer.play(triangle);

      var intervals = 4;
      var iId = setInterval(function() {
        BA_UT_is(currentBuffer.dataType, triangle, "We are playing triangle - " + intervals);
        if (!--intervals) {
          clearInterval(iId);
          quit();
          next();
        }
      }, 200);
    ]]>
    </key>
  </code>
</BA>


