<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var pulse = Pulse(600, 20);
      BA_UT_ok(pulse, "Pulse() generator exists.");
      BA_UT_is(pulse.name, "pulse", "Pulse().name generator exists.");
      BA_UT_is(pulse.frequency, 600, "Pulse().frequency == 600");
      BA_UT_is(pulse.duty, 20, "Pulse().duty == 20");
      BA_UT_ok('get' in pulse, "Pulse().get exists");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(pulse, "frequency");
      testAttr(pulse, "duty");

      var pulse2 = Pulse(Pulse(Noise(), 5), Noise());
      BA_UT_ok(pulse2, "Pulse() generator exists.");

      currentBuffer.play(pulse);

      var intervals = 4;
      var iId = setInterval(function() {
        BA_UT_is(currentBuffer.dataType, pulse, "We are playing pulse - " + intervals);
        if (!--intervals) {
          clearInterval(iId);
          quit();
          next();
        }
      }, 200);
    ]]>
    </key>
  </code>
</BA>


