<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var sinebuf = Sinebuf(600);
      BA_UT_ok(sinebuf, "Sinebuf() generator exists.");
      BA_UT_is(sinebuf.name, "sinebuf", "Sinebuf().name generator exists.");
      BA_UT_is(sinebuf.frequency, 600, "Sinebuf().frequency == 600");
      BA_UT_ok('get' in sinebuf, "Sinebuf().get exists");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(sinebuf, "frequency");

      var sinebuf2 = Sinebuf(Sinebuf(Noise()));
      BA_UT_ok(sinebuf2, "Sinebuf() generator exists.");

      currentBuffer.play(sinebuf);

      var intervals = 4;
      var iId = setInterval(function() {
        BA_UT_is(currentBuffer.dataType, sinebuf, "We are playing sinebuf - " + intervals);
        if (!--intervals) {
          clearInterval(iId);
          quit();
          next();
        }
      }, 200);
    ]]>
    </key>
  </code>
</BA>


