<BA>
  <audio>
    <buffers>4</buffers>
  </audio>

  <terminal>
   <escapeSequence>false</escapeSequence>
  </terminal>

  <code>
    <key char="t"><![CDATA[
      var sinebuf4 = Sinebuf4(600);
      BA_UT_ok(sinebuf4, "Sinebuf4() generator exists.");
      BA_UT_is(sinebuf4.name, "sinebuf4", "Sinebuf4().name generator exists.");
      BA_UT_is(sinebuf4.frequency, 600, "Sinebuf4().frequency == 600");
      BA_UT_ok('get' in sinebuf4, "Sinebuf4().get exists");

      function testAttr(obj, name) {
        var value = Math.random();
        obj[name] = value;
        BA_UT_is(obj[name], value, obj.name + "." + name + " == " + value);

        try {
          obj[name] = "foobar";
          BA_UT_ok(false, obj.name + "." + name + " = foo should throw");
        } catch(e) {
          BA_UT_ok(true, obj.name + "." + name + " = foo should throw");
        }
      }

      testAttr(sinebuf4, "frequency");

      var sinebuf42 = Sinebuf4(Sinebuf4(Noise()));
      BA_UT_ok(sinebuf42, "Sinebuf4() generator exists.");

      currentBuffer.play(sinebuf4);

      var intervals = 4;
      var iId = setInterval(function() {
        BA_UT_is(currentBuffer.dataType, sinebuf4, "We are playing sinebuf4 - " + intervals);
        if (!--intervals) {
          clearInterval(iId);
          quit();
          next();
        }
      }, 200);
    ]]>
    </key>
  </code>
</BA>


