[audio]
# Default Audio Settings:
#channels = 2
#sampleRate = 44100
#bufferSize = 1024

[globalKeys]
# comment this if you don't want to quit :)
quit = q
rec = r
play = p

[terminal]
escapeSequence = true

# Buffers start from 0
[buffer_0]
key = 1

[buffer_1]
key = 2

[buffer_2]
key = 3

[buffer_3]
key = 4

